---
import 'glightbox/dist/css/glightbox.css';
import '../styles/glightbox-custom.css';
import { Image } from 'astro:assets';
import type { Image as ImageType } from '../data/galleryData';

interface Props {
	images: ImageType[];
}

const { images } = Astro.props;
---

<section id="photo-grid" class="relative w-full mx-auto overflow-hidden">
	{
		images.map((image) => (
			<a
				href={image.src.src}
				class="photo-item glightbox absolute transition-transform hover:scale-[1.02] hover:z-10"
				data-gallery="gallery1"
				data-type="image"
				data-width={image.src.width}
				data-height={image.src.height}
				data-glightbox={image.description ? `title: ${image.description}` : undefined}
			>
				<Image
					src={image.src}
					alt={image.title}
					width={1000}
					class="w-full h-full object-cover rounded-sm shadow-sm hover:shadow-lg transition-shadow"
					loading="lazy"
				/>
			</a>
		))
	}
</section>

<script>
	import '../scripts/photo-grid';
</script>
